Data-RuledCluster-*
.*
!.gitignore
!.shipit
!.dim.pl
inc/
*.o
*.obj
*.bs
*.def
Makefile*
!Makefile.PL
*blib
META.*
MYMETA.*
*.out
*.bak
*.old
*~
*.swp
ppport.h
nytprof*
cover_db*
*.gcda
*.gcno
*.gcov
*.stackdump
/Data-RuledCluster-*
/.build
/_build_params
/Build
/Build.bat
!Build/
!META.json
!LICENSE
